script(type="text/ng-template" id="index.html")
	div 
		h1.text-center Bienvenido al bar!
		br
		br
		p.text-center bienvenido al bar , todo lo que tiene que hacer es navegar por la aplicación utilizando el menu superior-derecha.
			Podrás encontrar Bebidas,Tapas,Menús y muchas cosas más!
			No te arrepentirás, están RIQUIIIISIMAS.
			
