script(type="text/ng-template" id="index.html")
	div 
		h1.text-center Bienvenido al bar!
		br
		br
		h4.text-center Bienvenido al bar , todo lo que tiene que hacer es navegar por la aplicación utilizando el menu superior-derecha.No te arrepentirás, están RIQUIIIISIMAS.
			
