script(type="text/ng-template" id="productos.html")
	div(ng-repeat="bebida in bebidas")
	dl(data-accordion).accordion
		dd
			a(data-target="#panel1") Bebidas
			div#panel1.content
				dl(data-tab).tabs
					dd.active
						a(data-target="#panel1-1") Vinos
					dd
						a(data-target="#panel1-2") Cervezas
					dd
						a(data-target="#panel1-3") Cubatas
					dd
						a(data-target="#panel1-4") Licores

				div.tabs-content
					div#panel1-1.content
						div(ng-repeat="vino in vinos")
							p {{vino.nombre}} : {{vino.precio}} €
					div#panel1-2.content
						div(ng-repeat="cerveza in cervezas")
							p {{cerveza.nombre}} : {{cerveza.precio}} €
					div#panel1-3.content
						div(ng-repeat="copa in copas")
							p {{copa.nombre}} : {{copa.precio}} €
					div#panel1-4.content
						div(ng-repeat="licor in licores")
							p {{licor.nombre}} : {{licor.precio}} €

		dd
			a(data-target="#panel2") Tapas
			div#panel2.content
				dl(data-tab).tabs
					dd
						a(data-target="#panel2-1") Mini-Bocadillos
					dd
						a(data-target="#panel2-2") Raciones

				div.tabs-content
					div#panel2-1.content
						div(ng-repeat="bocadillo in bocadillos")
							p {{bocadillo.nombre}} : {{bocadillo.precio}} €
					div#panel2-2.content
						div(ng-repeat="racion in raciones")
							p {{racion.nombre}} : {{racion.precio}} €

		dd
			a(data-target="#panel3") Menús
			div#panel3.content
				dl(data-tab).tabs
					dd
						a(data-target="#panel3-1") Lunes
					dd
						a(data-target="#panel3-2") Martes
					dd
						a(data-target="#panel3-3") Miercoles
					dd
						a(data-target="#panel3-4") Jueves
					dd
						a(data-target="#panel3-5") Viernes
					dd
						a(data-target="#panel3-6") Sabado
					dd
						a(data-target="#panel3-7") Domingo

				div.tabs-content
					div#panel3-1.content
						p First panel content goes here...
					div#panel3-2.content
						p Second panel content goes here...
					div#panel3-3.content
						p Third panel content goes here...
					div#panel3-4.content
						p Fourth panel content goes here...
					div#panel3-5.content
						p Fourth panel content goes here...	
					div#panel3-6.content
						p Fourth panel content goes here...
					div#panel3-7.content
						p Fourth panel content goes here...					