body{
	background-image: url('/static/img/bg.png');
	background-repeat:repeat;
}

.texto-oscuro{
	color:#888 !important;
}

.texto-claro{
	color:#F2F5A9 !important;
}

.top-bar-section ul {
	background : none !important;
	
}

.top-bar-section .dropdown li.title h5 a{
	color:#888 !important;
}
