script(type="text/ng-template" id="sobre.html")
	br
	div.blur.text-center
		p SOBRE NOSOTROS!
		br
		p Somos un bar de Valladolid desde hace más de 6 años.
		br
		p Síguenos en 
			a(href="https://www.facebook.com/pages/Camera-Cafe-y-Copas/489031637783056") Facebook!