doctype html
html
	head
		title Bienvenido!
		script(src="/static/angular.min.js")
		link(rel='stylesheet', href='/static/foundation.min.css')
		link(rel='stylesheet', href='/static/normalize.css')
		
	body
		div(class="nav-bar")

		div(ng-view="")