doctype html
html
	head
		title Bienvenido!
		meta(charset="utf-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
		link(rel="stylesheet" type="text/css" href="/static/estilos/foundation.min.css")
		link(rel="stylesheet" type="text/css" href="/static/estilos/normalize.css")
		link(rel="stylesheet" type="text/css" href="/static/estilos/estilos.css")
	body(ng-app="app")
		div.sticky.blur
			nav(data-topbar data-section data-options="back_text: Volver").top-bar.text-center.texto-oscuro.blur.sticky
				ul.title-area
					li.name
						h1
							a.text-center.texto-oscuro
								strong Bar
					li.toggle-topbar.menu-icon
						a.texto-oscuro 
							strong Menu
				section.top-bar-section.texto-oscuro
					ul.right
						li
							a(href="#/").text-center.texto-oscuro
								strong Home
						li
							a(href="#/oferta").text-center.texto-oscuro
								strong Oferta
						li
							a(href="#/productos").text-center.texto-oscuro
								strong Productos
						li(class="has-dropdown")
							a(href="").text-center.texto-oscuro
								strong Contacto
							ul(class="dropdown")
								li.blur-big
									a(href="#/sobre").text-center.texto-oscuro
										strong Sobre Nosotros
								li.blur-big
									a(href="#/donde").text-center.texto-oscuro
										strong Donde estamos
								li.blur-big
									a(href="tel:658804413").text-center.texto-oscuro
										strong LLamanos
		div(ng-view="")
		script(type="text/javascript" src="/static/lib/vendor/modernizr.js")
		script(type="text/javascript" src="/static/lib/vendor/jquery.js")
		script(type="text/javascript" src="/static/lib/vendor/fastclick.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.topbar.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.accordion.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.orbit.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.tab.js")
		script(type="text/javascript" src="/static/lib/angular.min.js")
		script(type="text/javascript" src="/static/lib/angular-route.min.js")
		script(type="text/javascript" src="/static/lib/angular-animate.min.js")
		script(type="text/javascript" src="/static/lib/underscore.js")
		script(type="text/javascript" src="/static/controller/api.js")
		script(type="text/javascript" src="cordova.js")

		include plantillas/index
		include plantillas/productos
		include plantillas/oferta
		include plantillas/sobre
		include plantillas/donde
		include plantillas/admin
