doctype html
html
	head
		title Bienvenido!
		meta(charset="utf-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
		link(rel="stylesheet" type="text/css" href="/static/lib/foundation.min.css")
		link(rel="stylesheet" type="text/css" href="/static/lib/normalize.css")
		link(rel="stylesheet" type="text/css" href="/static/estilos/estilos.css")
		script(type="text/javascript" src="/static/lib/foundation/foundation.accordion.js")
	body(ng-app="app")
		nav(data-topbar data-section data-options="back_text: Volver").top-bar.blur.text-center.texto-oscuro
			ul.title-area
				li.name.blur
					h1
						a.text-center.blur.texto-oscuro 
							strong Bar
				li.toggle-topbar.menu-icon.blur
					a.texto-oscuro 
						strong Menu
			section.top-bar-section.blur.texto-oscuro
				ul.right
					li
						a(href="#/").text-center.blur.texto-oscuro 
							strong Home
					li
						a(href="#/oferta").text-center.blur.texto-oscuro 
							strong Oferta
					li
						a(href="#/productos").text-center.blur.texto-oscuro 
							strong Productos
					li(class="has-dropdown")
						a(href="#").text-center.blur.texto-oscuro 
							strong Contacto
						ul(class="dropdown")
							li
								a(href="#/sobre").text-center.blur.texto-oscuro 
									strong Sobre Nosotros
							li
								a(href="#/donde").text-center.blur.texto-oscuro 
									strong Donde estamos
							li
								a(href="#/llamanos").text-center.blur.texto-oscuro 
									strong LLamanos
		div(ng-view="")
		script(type="text/javascript" src="/static/lib/vendor/modernizr.js")
		script(type="text/javascript" src="/static/lib/vendor/jquery.js")
		script(type="text/javascript" src="/static/lib/vendor/fastclick.js")
		script(type="text/javascript" src="/static/lib/foundation.min.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.topbar.js")
		script(type="text/javascript" src="/static/lib/foundation/foundation.accordion.js")
		script(type="text/javascript" src="/static/lib/angular.min.js")
		script(type="text/javascript" src="/static/lib/angular-route.min.js")
		script(type="text/javascript" src="/static/lib/angular-animate.min.js")
		script(type="text/javascript" src="/static/lib/blur.js")
		script(type="text/javascript" src="/static/controller/api.js")
		script(type="text/javascript" src="cordova.js")
		include plantillas/index
		include plantillas/productos
		include plantillas/oferta
		include plantillas/sobre
		include plantillas/donde
		script $(document).foundation();